/* Common */
$max-contents-width: 870px;
$max-contents-width-md: 768px;
$max-contents-width-sm: 100%;

/* Section */
$section-pb: 4rem;

$section-header-pt: 3rem;
$section-header-pb: 3rem;

$section-body-pt: 2rem;
$section-body-pb: 2rem;

/* Footer */
$footer-height: 120px;

/* Feature */
$feature-width: 240px;

/* Team */
$member-name-pt: 1rem;
$member-name-pb: 0.1rem;
$member-name-sm-pt: 0rem;
$member-name-sm-pb: 0.1rem;
$member-name-sm-pl: 0.5rem;

$member-position-pt: 0.1rem;
$member-position-pb: 1rem;
$member-position-sm-pl: 0.5rem;
